NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_ORACLE_ADDRESS=
NEXT_PUBLIC_USDC_CONFIDENTIAL_ADDRESS=
NEXT_PUBLIC_WETH_CONFIDENTIAL_ADDRESS=
NEXT_PUBLIC_COLLATERAL_ASSET=
NEXT_PUBLIC_DEBT_ASSET=
NEXT_PUBLIC_RELAYER_URL=http://localhost:8787
NEXT_PUBLIC_CHAIN_ID=421614
NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
